<a href="https://colab.research.google.com/github/suhana03/pizzapi/blob/master/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = ["apple", "banana", "cherry"]
x.append("orange")#add item to the end
print(len(x))
#list:Lists are used to store multiple items in a single variable.
#The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
#A list can contain different data types:
x.insert(1, "orange")#insert item at specific index
print(x)

4
['apple', 'orange', 'banana', 'cherry', 'orange']


**tuple**
---



---

In [ ]:
x = ("apple", "banana", "cherry")
#tuple:Tuples are used to store multiple items in a single variable
#tuple is a collection which is ordered and unchangeable.

# **dictionary**

In [ ]:
x = {"name" : "John", "age" : 36}
#dict

# **sets**

In [ ]:
x = {"apple", "banana", "cherry"}
#set:Sets are used to store multiple items in a single variable.

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x,y,z)

1 2 3

# **string** **operations**

In [ ]:
#Slicing
X = "Hello, World!"
print(b[2:5])
#slice from start to pos 5
b = "Hello, World!"
print(b[:5])

#slice to the end
b = "Hello, World!"
print(b[2:])

#negate index
b = "Hello, World!"
print(b[-5:-2])

llo
Hello
llo, World!
orl

In [ ]:
#uppercase
a = "Hello, World!"
print(a.upper())
#lowercase
a = "Hello, World!"
print(a.lower())

HELLO, WORLD!
hello, world!

In [ ]:
#remove whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
#replace
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
#split
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
#string concatenation
a = "Hello"
b = "World"
c = a +" "+ b
print(c)

Hello World

In [ ]:
#Use the format() method to insert numbers into strings:#
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
#escape character
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
#Boolean Values
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# **loops in python**

In [ ]:
#loop through a list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
#loop through index no
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
#while loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
#sorting list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)
#reverse

['cherry', 'Kiwi', 'Orange', 'banana']